<?php

$finder = PhpCsFixer\Finder::create()
    ->notPath('src/Symfony/Component/Translation/Tests/fixtures/resources.php')
    ->in('./src', './tests')
;

return (new PhpCsFixer\Config())
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'php_unit_method_casing' => ['case' => 'snake_case'],
        'declare_strict_types' => true,
    ])
    ->setFinder($finder)
;
